.pagetitle{
    height: 100px;
    margin-top: 50px;
    color: $white;
    background-color: $black;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    line-height: 100px;
  }

.content_container{
  display: flex;
  flex-direction: column;
}

.content_top{
display: grid;
grid-template-columns: auto auto;

  .left{
    background-color: $page-left;
    text-align: left;
    font-weight: bold;
    letter-spacing: 0.3px;
    padding: 5px 0 5px 10px;
  }
  .right{
    background-color: $page-right;
    text-align: right;
    font-weight: bold;
    letter-spacing: 0.3px;
    padding: 5px 10px 5px 0;

  }
}

.main_items_container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.items_container_left{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: $page-left;
}

.items_container_right{
  display: flex;
  flex-wrap: wrap;
  background-color: $page-right;
}

.item_card{
  display: flex;
  flex-direction: column;
  margin-left: 1%;
  margin-top: 1%;

    img{
      width: 200px;
      height: 200px;
      object-fit: cover;
    }

    .item_title{
      font-size: 0.8em;
      color: $white;
      padding: 5px;
      text-align: center;
      background-color: $darker_warm_grey;
    }

    .item_creator{
      font-size: 0.9em;
      color: $white;
      padding: 5px;
      text-align: center;
      background-color: $dark_warm_grey;
    }
}