.grid_container {
  max-width: 1500px;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $grid-container-bg; 
}

.gallery_card{
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  border: solid 1px yellow;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  .cover{
    object-fit: cover;
    width: 250px;
    height: 192px;
  }
}

.card_phototitle{
  font-size: 1em;
  font-weight: bold;
  color: $white;
  padding: 5px;
  text-align: center;
  background-color: $black;
}

.card_creator{
  font-size: 0.8em;
  color: $white;
  padding: 5px;
  text-align: center;
  background-color: $black;
}