a {
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.navbar_container {
  position: relative;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  font-family: sans-serif;
  background-color: $nav-bg;
  height: 80px;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: .9rem;
  z-index: 3;

  li {
    float: left;
    min-width: 120px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    text-decoration: none;
    font-family: "Arial", sans-serif;
    background-color: $nav-bg;
    color: #000;

    a {
      display: block;
      color: $nav-a-font;
      text-decoration: none;
      transition: background-color 0.25s ease-in-out, border-color 0.25s ease-in-out, color 0.25s ease-in-out, fill 0.25s ease-in-out;

    }

    a:hover {
      background-color: $nav-a-hover;
      display: block;
    }

    .register,
    .logout {
      margin-top: 10px;
      height: 60px;
      width: 90px;
      line-height: 60px;
      border: 1px solid $black;
      display: block;

      &:hover {
        background-color: $light_hover;
      }
    }

    .login,
    .dashboard {
      margin-top: 10px;
      height: 60px;
      width: 90px;
      line-height: 60px;
      border: 1px solid $black;
      background-color: $black;
      color: $white;
      display: block;

      &:hover {
        background-color: $dark-hover;
      }
    }
  }
}

.nav li:hover ul {
  opacity: 1;
  display: flex;
  z-index: -2;
  animation: NavFadeIn 1s;
}

.nav_child {
  display: none;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin: 0;
  width: 100%;
  background-color: $nav-child-bg;
  height: 50px;
  left: 0;
  position: absolute;
  opacity: 0;
  top: 100%;

  &:hover {
    opacity: 1;
    display: flex;
    z-index: -2;
  }

  li {
    height: 40px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    font-family: "Arial", sans-serif;
    background-color: $nav-child-li-bg;
    color: $white;

    a {
      display: block;
      color: $white;
      text-decoration: none;
      transition: background-color 0.25s ease-in-out, border-color 0.25s ease-in-out, color 0.25s ease-in-out, fill 0.25s ease-in-out;
      // cursor: pointer;
    }

    a:hover {
      background-color: $nav-child-li-bg;
      border: solid 1px yellow;
      height: 50px;
      display: block;
    }
  }
}

@keyframes NavFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/** Responsive Design Navigation**/
.nav {
  .menu_button {
    cursor: pointer;
    display: flex;
    padding: 0 28px;
    position: relative;
    min-width: 0;
    align-items: center;

    span {
      background: $nav-a-font;
      display: block;
      height: 4px;
      position: relative;
      width: 32px;
      border-radius: 2px;

      &:before,
      &:after {
        background: $nav-a-font;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
        border-radius: 2px;
      }

      &:before {
        top: -10px;
      }

      &:after {
        top: 10px;
      }
    }
  }

  .nav_toggle:checked~.nav_links {
    max-width: 150px;
  }

  .nav_toggle:checked~.menu_button span {
    background: transparent;

    &:before {
      transform: rotate(45deg);
      top: 0px;
    }

    &:after {
      transform: rotate(-45deg);
      top: 0px;
    }
  }

  .nav_links {
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 100%;
    list-style: none;
    clear: both;
    max-width: 0;
    transition: max-width 1s ease-out;
    z-index: 5;

    li {
      width: 100%;
      height: 50px;
      line-height: 50px;
      background-color: $nav-child-bg;
      color: $white;

      a {
        background-color: $nav-child-bg;
        color: $white;
        text-align: right;
        padding: 0 20px;
      }
    }
  }
}

.nav_screen {
  display: block;
}

.nav_mobile {
  display: none;
}

.nav_toggle {
  display: none;
}

@media (max-width: 800px) {
  .nav_screen {
    display: none;
  }

  .nav_mobile {
    display: block;
  }
}
