.grid_sponsors {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-gap: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $page_bg; 
  }
  
  
  .sponsor_card{
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
  
    img{
      width: 100%;
      height: 150px;
      object-fit: cover;
    }
  
    .name{
        font-size: 1em;
        color: $white;
        padding: 5px;
        //text-align: center;
        background-color: $dark_warm_grey;
      }

    .title{
      font-size: 0.8em;
      color: $white;
      padding: 5px;
      //text-align: center;
      background-color: $darker_warm_grey;
    }

    .description{
        background-color: $white; 
        padding: 5px;
        font-size: 0.9em;
        letter-spacing: 0.2px;
    }   
  }







