
// Body
$body-bg: #766a62;

// Typography
$font-family-sans-serif: "Arial", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$yellow: #FFFF00;
$black: #000000;
$white: #fff;
$light_warm_grey: #c7c2ba;
$middel_warm_grey: #94937F;
$dark_warm_grey: #766a62;
$dark_hover: #363636;
$light_hover: #dadada;
$yellow_hover: #fff000;

$nav-background: #c7c2ba;
$nav-font-color: #000;
$nav-font-hovercolor: #fff;
$link-hover-color: #dadada;



$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 70px;

.debug{
    border: solid 1px orange;
}