
// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: "Arial", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$yellow: #FFFF00;
$black: #000000;
$light_warm_grey: #C7C2BA;
$middel_warm_grey: #94937F;
$dark_warm_grey: #766A62;

.debug{
    border: solid 1px orange;
}