
// Body
$body-bg: #363636;
$parallax-bg-a: #363636;
$parallax-bg-b: #dadada;

$contentwrapper-bg-a: #dadada;
$block-bg: #fafafa;

// Typography
$font-family-sans-serif: "Arial", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$yellow: #FFFF00;
$black: #000000;
$white: #fff;
$light_warm_grey: #c7c2ba;
$middel_warm_grey: #94937F;
$dark_warm_grey: #766a62;
$dark_hover: #363636;
$light_hover: #dadada;
$yellow_hover: #fff000;

$nav-bg: #fff;
$nav-a-font: #000;
$nav-a-hover: #dadada;

$nav-child-bg: rgba(0,0,0,.7);
$nav-child-li-bg: rgba(0,0,0,.0);

$nav-font-hovercolor: #fff;


$form-bg: #c7c2ba;

$hpblok-bg:rgba(0,0,0,.85);
$hpblok-title-bg: rgba(255, 255, 255, 0.6);

.debug{
border: solid 1px orangered;
}