// Variables
@import 'variables';
@import 'buttons';
@import 'nav';
@import 'forms';
@import 'parallax';
@import 'gallery';

html, body{
  font-family: $font-family-sans-serif;
  background-color: $body-bg;
  overflow: hidden;
}

body {
  font: 100% ;
}

* {
  margin:0;
  padding:0;
}

.actionbox{
  background-color: $yellow;
}
@import 'layout';