// Variables
@import 'variables';
@import 'buttons';
@import 'nav';
@import 'forms';
@import 'parallax';
@import 'gallery';

html, body{
  font-family: $font-family-sans-serif;
  background-color: $body-bg;
  //overflow: hidden;
}

body {
  font: 100% ;
}

* {
  margin:0;
  padding:0;
}

.pagetitle{
  height: 100px;
  margin-top: 50px;
  color: $white;
  background-color: $black;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  align-items: center;
  line-height: 100px;
}


.actionbox{
  background-color: $yellow;
}

@import 'layout';
