.debug {
  border: solid 1px orangered;
}

.debug2 {
  border: solid 1px orangered;
}

.button {
  font-size: 0.9rem;
  font-weight: bold;
  color: #000000;
  background-color: #fff;
  border: 1px solid #000000;
  padding: 16px 32px;
  display: inline-block;
  text-align: center;
  transition: background-color 0.25s ease-in-out, border-color 0.25s ease-in-out, color 0.25s ease-in-out, fill 0.25s ease-in-out;
}
.button:hover {
  background-color: #dadada;
}

.button_sm {
  font-size: 0.9rem;
  font-weight: bold;
  background-color: #000000;
  color: #fff;
}
.button_sm:hover {
  background-color: #363636;
}

.button_act {
  font-size: 0.9rem;
  font-weight: bold;
  background-color: #FFFF00;
  border-color: #FFFF00;
  color: #000000;
}
.button_act:hover {
  background-color: #fff000;
  border-color: #fff000;
}

a {
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  font-family: sans-serif;
  background-color: #fff;
  height: 80px;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
  z-index: 5;
}
.nav li {
  float: left;
  min-width: 120px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  text-decoration: none;
  font-family: "Arial", sans-serif;
  background-color: #fff;
  color: #000;
}
.nav li a {
  display: block;
  color: #000;
  text-decoration: none;
  transition: background-color 0.25s ease-in-out, border-color 0.25s ease-in-out, color 0.25s ease-in-out, fill 0.25s ease-in-out;
}
.nav li a:hover {
  background-color: #dadada;
  display: block;
}
.nav li .register,
.nav li .logout {
  margin-top: 10px;
  height: 60px;
  width: 90px;
  line-height: 60px;
  border: 1px solid #000000;
  display: block;
}
.nav li .register:hover,
.nav li .logout:hover {
  background-color: #dadada;
}
.nav li .login,
.nav li .dashboard {
  margin-top: 10px;
  height: 60px;
  width: 90px;
  line-height: 60px;
  border: 1px solid #000000;
  background-color: #000000;
  color: #fff;
  display: block;
}
.nav li .login:hover,
.nav li .dashboard:hover {
  background-color: #363636;
}

.nav li:hover ul {
  opacity: 1;
  display: flex;
  z-index: -2;
  animation: NavFadeIn 0.5s;
}

.nav_child {
  display: none;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  height: 50px;
  left: 0;
  position: absolute;
  opacity: 0;
  top: 100%;
  z-index: -1;
}
.nav_child li {
  height: 40px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  font-family: "Arial", sans-serif;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  z-index: -1;
}
.nav_child li a {
  display: block;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.25s ease-in-out, border-color 0.25s ease-in-out, color 0.25s ease-in-out, fill 0.25s ease-in-out;
  z-index: -1;
}
.nav_child li a:hover {
  background-color: rgba(0, 0, 0, 0);
  border: solid 1px yellow;
  height: 50px;
  display: block;
}

@keyframes NavFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.forms_container {
  margin-top: 140px;
  display: grid;
  width: 80%;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px, 0, 10px, 0;
}

.form_container {
  padding: 10px;
}
.form_container .header {
  height: 100px;
  color: #fff;
  background-color: #000000;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  align-items: center;
  line-height: 100px;
}
.form_container form {
  padding: 20px;
  background-color: #c7c2ba;
  color: #000000;
}
.form_container form input[type=text], .form_container form select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.form_container form input[type=submit] {
  width: 100%;
  background-color: #FFFF00;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}
.form_container form input[type=submit]:hover {
  background-color: #fff000;
}
.form_container form .button {
  width: 100%;
  background-color: #FFFF00;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}
.form_container form .button:hover {
  background-color: #fff000;
}

/* Debugger 
  --------------------------------------------- */
.debug {
  position: fixed;
  top: 80px;
  left: 0.5em;
  z-index: 999;
  background: rgba(0, 0, 0, 0.85);
  color: #fff;
  padding: 0.5em;
  border-radius: 0 0 5px 5px;
}

.debug-on .parallax_group {
  -webkit-transform: translate3d(800px, 0, -800px) rotateY(30deg);
  transform: translate3d(700px, 0, -800px) rotateY(30deg);
}

.debug-on .parallax_layer {
  box-shadow: 0 0 0 2px #000;
  opacity: 0.9;
}

.parallax_group {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

/* start parallax */
.landingpage {
  overflow: hidden;
}

.parallax {
  height: 500px;
  /* fallback for older browsers */
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 300px;
  perspective: 300px;
  font-size: 200%;
}

.parallax_group {
  position: relative;
  height: 500px;
  /* fallback for older browsers */
  height: 100vh;
  margin-top: 0vh;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.parallax_layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.parallax_layer_base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.parallax_layer_back {
  -webkit-transform: translateZ(-300px) scale(2);
  transform: translateZ(-300px) scale(2);
}

/* groups  */
#group1 {
  z-index: 3;
}

#group1 .parallax_layer_back {
  background-image: url(/img/vluchtBreda.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#group2 {
  z-index: 4;
}

#group2 .parallax_layer_base {
  background: #dadada;
}

#group3 {
  z-index: 2;
}

#group3 .parallax_layer_back {
  background: url(/img/prijzen-767.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#group4 {
  z-index: 3;
}

#group4 .parallax_layer_base {
  background: #dadada;
}

#group5 {
  z-index: 2;
}

#group5 .parallax_layer_back {
  background-image: url(/img/venice.JPG);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#group6 {
  z-index: 3;
}

#group6 .parallax_layer_base {
  background: #dadada;
}

#group7 {
  z-index: 2;
}

#group7 .parallax_layer_back {
  background: url(/img/);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* content parallax */
.hpblok_container {
  position: relative;
  width: 80%;
  text-align: right;
}

.hpblok {
  position: absolute;
  top: 50%;
  left: 70%;
  width: 60%;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 20px 70px 20px 70px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.hpblok .subtitle {
  color: #fff;
  text-shadow: 0.2px 0.2px rgba(255, 255, 255, 0.589);
  font-size: 60%;
  padding-bottom: 5px;
}
.hpblok .title {
  background-color: rgba(255, 255, 255, 0.6);
  box-decoration-break: clone;
  padding: 0px 10px 0px 10px;
  color: #000000;
  font-weight: bold;
  display: inline;
  text-align: left;
}
.hpblok .button {
  background-color: #FFFF00;
  border-color: #FFFF00;
  color: #000000;
  padding: 5px;
  font-size: 75%;
  display: inline-block;
}
.hpblok .button:hover {
  background-color: #fff000;
}
.hpblok p {
  color: #fffffff8;
  font-size: 60%;
  padding: 10px;
  letter-spacing: 1px;
  font-weight: lighter;
}

.textheader {
  padding: 5px;
  text-align: center;
  margin: 30px 0 30px 0;
}
.textheader .title {
  color: #000000;
}
.textheader .title .sub {
  font-size: larger;
  font-weight: bold;
}
.textheader .txt {
  color: #000000;
  font-size: 60%;
  padding: 10px;
  letter-spacing: 1px;
  font-weight: lighter;
}

.parallax_content_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 10px 20px 10px;
  background-color: #fff;
}
.parallax_content_wrapper .block {
  display: flex;
  align-items: center;
  margin-top: 5px;
  flex-direction: column;
  width: 25%;
  letter-spacing: 0.5px;
  padding: 5px;
  background-color: #fafafa;
}
.parallax_content_wrapper .block .title {
  font-size: smaller;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}
.parallax_content_wrapper .block .sub {
  font-weight: bold;
  font-size: 60%;
  padding: 5px;
  text-align: center;
}
.parallax_content_wrapper .block .txt {
  font-size: 40%;
  padding: 5px;
  text-align: center;
}

.content_container {
  display: flex;
  flex-direction: column;
}

.content_top {
  display: grid;
  grid-template-columns: auto auto;
}
.content_top .left {
  background-color: #c7c2ba;
  text-align: left;
  font-weight: bold;
  letter-spacing: 0.3px;
  padding: 5px 0 5px 10px;
}
.content_top .right {
  background-color: #b1aca5;
  text-align: right;
  font-weight: bold;
  letter-spacing: 0.3px;
  padding: 5px 10px 5px 0;
}

.grid_left {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #c7c2ba;
}

.grid_right {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #b1aca5;
}

.item_card {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
}
.item_card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.item_card .item_title {
  font-size: 0.8em;
  color: #fff;
  padding: 5px;
  text-align: center;
  background-color: #574e48;
}
.item_card .item_creator {
  font-size: 1em;
  color: #fff;
  padding: 5px;
  text-align: center;
  background-color: #766a62;
}

.grid_sponsors {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-gap: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #c7c2ba;
}

.sponsor_card {
  width: 250px;
  height: 350px;
  display: flex;
  flex-direction: column;
}
.sponsor_card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.sponsor_card .name {
  font-size: 1em;
  color: #fff;
  padding: 5px;
  background-color: #766a62;
}
.sponsor_card .title {
  font-size: 0.8em;
  color: #fff;
  padding: 5px;
  background-color: #574e48;
}
.sponsor_card .description {
  background-color: #fff;
  padding: 5px;
  font-size: 0.9em;
  letter-spacing: 0.2px;
}

html, body {
  font-family: "Arial", sans-serif;
  background-color: #363636;
}

body {
  font: 100%;
}

* {
  margin: 0;
  padding: 0;
}

.pagetitle {
  height: 100px;
  margin-top: 50px;
  color: #fff;
  background-color: #000000;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  align-items: center;
  line-height: 100px;
}

.actionbox {
  background-color: #FFFF00;
}

/* START GLOBAL BODY.
________________________________________________________*/
.main_container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main_positioning {
  background-color: #c7c2ba;
  padding: 1px;
}

.main_positioning2-2 {
  display: flex;
  flex-direction: column;
}

/* END GLOBAL BODY.
________________________________________________________*/
/* START UNIVERSAL CONTENT
________________________________________________________*/
.content_container {
  display: flex;
  flex-direction: row;
  padding: 5px;
  background-color: paleturquoise;
}

.content_positioning {
  flex: 1;
  padding: 5px;
  background-color: palevioletred;
}

.content_positioning_1-2 {
  padding: 5px;
  background-color: slateblue;
}

.content_wrapper {
  padding: 5px;
}

.content_sub_wrapper {
  flex: 1;
  padding: 5px;
  background-color: lightgreen;
  border: solid 2px seashell;
}

/* END UNIVERSAL CONTENT
________________________________________________________ */
/*  START EXAMPLE
________________________________________________________ 

@extends('layouts.app')

@section('pagetitle', 'Join the contest!')

@section('content')
<article class="content_container">
    <div class="content_positioning content_positioning_1-2">
        <article class="content_wrapper form_container">
            <section class="content_sub_wrapper"></section>
            <section class="content_sub_wrapper"></section>
        </article>
        <article class="content_wrapper form_container">
            <section class="content_sub_wrapper"></section>
            <section class="content_sub_wrapper"></section>
        </article>
    </div>
    <div class="content_positioning content_positioning_2-2">
        <article class="content_wrapper">
            <section class="content_sub_wrapper"></section>
        </article>
    </div>
</article>
@endsection


    END EXAMPLE
________________________________________________________ */

/*# sourceMappingURL=app.css.map */
